# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized ####

**Objectives:**
* List of popular languages for Data Science
* List of libraries used by Data Scientist
* Table of open source tools for Data Science

Some of the popular **languages that Data Scientists use are:**
1. Phyton
2. R
3. SQL
4. Java
5. Julia
6. Scala
7. C/C++
8. JavaScript
9. Swift
10. Go
11. MATLAB
12. SAS

Some of the commonly used **libraries used by Data Scientists include:**
1. TensorFlow
2. NumPy
3. SciPy 
4. Pandas
5. Matplotlib 
6. Keras
7. SciKit-Learn
8. PyTorch
9. Scrapy
10. BeautifulSoup
11. LightGBM
12. ELI5

Some of the **open source tools for Data Science are:**

| Data Management | Data Integration | Data Visualization | Code Asset Mgmt |
|:-:|:-:|:-:|:-:|
|My SQL|Apache Airflow|Pixie Dust|Git|
|MongoDB|KubeFlow|Hue|GitHub|
|Apache Cassandra|Apache Kafka|Kibana|GitLab|
|Hadoop File System|Apache Nifi|Apache Superset|BitBucket|
|Ceph|Node RED|||

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
## This a simple arithmetic expression to mutiply then add integers ##
(3*4)+5

17

In [4]:
## This will convert 200 minutes to hours by diving by 60 ##
minutes = 200
hours = minutes / 60

In [5]:
print(hours)

3.3333333333333335

## Thank You

## Author
Rifdoli